/* GENERAL ------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    height: 200px;
}

h1
h2
h3
h4 {
    font-weight: 500;
}

/* UTILITIES ----------------------------------------------*/

.box {
    width: 1200px;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.w-50 {
    width: 50%;
}

/* FLOAT */

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/* INLINE <ul> */

.inline li {
    display: inline;
}

/* BUTTONS */

.btn {
    border: 1px solid #fe775a;
    color: #fe775a;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    min-width: 100px;
    text-decoration: none;
}

.btn-orange {
    color: white;
    background-color: #fe775a;
}

.btn-big {
    padding: 20px;
}

/* HEADER SECTION -----------------------------------------*/

/* TOP HEADER ---------------------------------------------*/

.header-top {
    padding-top: 40px;
    height: 100px;
    background-color: #f4f9fd;
    border-bottom: 1px solid black;
}

.header-box {
    padding-top: 0px;
}

.header-top .left-side {
    width: 50%;
}

.header-top .right-side {
    width: 50%;
    text-align: right;
}

/* LIST FONT COLOR & PADDING + BORDER*/

.left-menu a {
    color: black;
}

.left-menu a:first-of-type {
    padding-left: 0;
}

.header-box ul li a {
    padding-right: 15px;
    padding-left: 15px;
}

#right-border {
    border-right: 1px solid black;

}

#contact {
    padding-left: 15px;
}

#search {
    color: #0ea4bd;
}

#mid-btn {
    padding-right: 15px;
}

/* HOVER */

.header-top li a:not(.btn):hover {
    color:#fe775a;
    transition: 0.5s;
}

/* BOTTOM HEADER ------------------------------------------*/

.header-bottom {
    height: 100px;
}

.hub-logo {
    width: 40%;
    margin-top: 15px;
}

.hub-logo img {
    padding-bottom: 20px;
}

.right-navigation {
    width: 60%;
    margin-top: 40px;
    padding-left: 100px;
}

.right-navigation a {
    color: black;
}

.right-navigation li i {
    padding-left: 10px;
    padding-right: 0;
}

.header-bottom li a:hover {
    color: #fe775a;
    transition: 0.5s;
}

/* MAIN SECTION -------------------------------------------*/
/* JUMBOTRON */

section.jumbotron { 
    background: #fff4ef;
    background-image: url(./img-hubspot/jumbotron.png);
    background-repeat: no-repeat;
    background-position: 100% 0;
}

.jumbotron {
    height: 610px;
}

/* TEXT JUMBOTRON */

.jumbotron-text h1 {
    font-size: 50px;
    padding-top: 50px;
}

.jumbotron-text p {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* BIG HR -------------------------------------------------*/

.big-hr {
    background-color: #afebe4;
    height: 90px;
    border-top: 2px solid #33475b;
    border-bottom: 2px solid #33475b;
}

/* MAIN SECTION -------------------------------------------*/

.main-section {
    background-color: #f4f9fd;
    height: 1700px;
}

/* TOP SECTION --------------------------------------------*/

.top-section {
    padding-top: 50px;
    text-align: center;
}

.top-section img {
    width: 400px;
    height: 300px;
}

.top-section h2 {
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 30px;
}

.top-section p {
    padding-bottom: 10px;
    font-size: 16px;
}

/* CRM BOX SECTION ----------------------------------------*/

.big-crm-box {
    height: 350px;
    margin-top: 30px;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid whitesmoke;
    box-shadow: 1px 1px 1px 1px whitesmoke;
}

.crm-box {
    width: 930px;
    height: auto;
    margin: auto;
    margin-top: 70px;
}

/* LEFT CRM */

.left-crm {
    max-width: 150px;
    margin: 125px;
    margin-top: 80px;
}

.left-crm img {
    margin-bottom: 40px;
}

/* RIGHT CRM */

.right-crm {
    max-width: 675px;
    margin-top: 80px;
}

.right-crm h3 {
    font-size: 25px;
    padding-bottom: 25px;
}

.right-crm h4 {
    text-transform: uppercase;
    padding-top: 20px;
    position: relative;
}

.right-crm h4:after {
    display: inline-block;
    content: '';
    height: 1px;
    background: black;
    position: absolute;
    width: 500px;
    top: 50%;
    margin-top: 10px;
    margin-left: 60px;
}

.right-crm p {
    padding-bottom: 10px;
}

.right-crm ul {
    padding-top: 30px;
}

.right-crm ul li i {
    color: #fe775a;
    padding-right: 15px;
    padding-left: 15px;
}

#first-check-icon {
    padding-left: 0;
}

/* COLUMNS SECTION ----------------------------------------*/

.columns {
    margin-top: 50px;
}

.col {
    text-align: center;
    width: 360px;
    height: 700px;
    background: white;
    border-radius: 10px;
    border: 2px solid whitesmoke;
    box-shadow: 1px 1px 1px 1px whitesmoke;
}

.col2 {
    margin-left: 60px;
    margin-right: 60px;
}

/* COLUMNS CONTENT */

.col img {
    width: 128px;
    height: 128px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.col h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

.col p {
    line-height: 25px;
    font-size: 16px;
    margin: 25px;
    padding-bottom: 70px;
    border-bottom: 1px solid black;
}

.col h4 {
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 40px;
}

.col ul {
  text-align: left;
  margin-left: 30px;
}

.col ul li i {
    padding-right: 10px;
    color: #fe775a;
}

.col div {
    margin-top: 70px;
}

/* GRADIENT SECTION ---------------------------------------*/

section.gradient {
    height: 700px;
    background: linear-gradient(45deg, #08a4bc , #07bca8);
}

.gradient-box {
    color: white;
}

/* TOP SECTION */
.gradient-top {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.gradient-top h2 {
    line-height: 40px;
    font-size: 31px;
    padding-bottom: 30px;
}

.gradient-top {
    line-height: 25px;
}

/* BOTTOM SECTION */

.col4 {
    width: 300px;
    text-align: center;
}

.c1, .c2, .c3 {
    border-right: 1px solid white;
}

.c1, .c2, .c3, .c4 {
    padding-top: 20px;
}

.c1, .c2, .c3, .c4, .numbers {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 40px;
    font-weight: bolder;
}

.c1, .c2, .c3, .c4, img:last-of-type {
    padding-top: 20px;
    padding-bottom: 10px;
} 

.col-text {
    font-size: 12px;
    border-bottom: 1px solid white;
    padding-bottom: 20px;
}

.col-text-2 {
    font-size: 12px;
    padding-bottom: 20px;
}

/* LAST SECTION -------------------------------------------*/

section.last-section {
    height: 800px;
}

/* TOP LINE */

.last-top {
    padding-top: 50px;
}

.top-left {
    width: 300px;
    padding-left: 70px;
}

.top-left p:first-child {
    font-size: 40px;
    font-weight: bolder;
    padding-bottom: 30px;
}

.top-left p:last-child {
    line-height: 30px;
}

/* RIGHT IMG */

.top-right  {
    width: 600px;
    line-height: 50px;
    margin-left: 300px;
    margin-top: 30px;
}

.top-right img {
    width: 22%;
    padding: 0;
    vertical-align: middle;
    padding-right: 20px;
}

/* BOTTOM LINE */

.last-bottom {
    margin-top: 50px;
    background-image: url(./img-hubspot/woman.webp);
    background-repeat: no-repeat;
    background-size: 350px 420px;
    background-position: 100% 0%;
}

.bottom-left {
    margin-top: 50px;
    width: 40%;
    height: 1000px;
}

.bottom-left h2 {
    font-size: 30px;
    padding-bottom: 40px;
}

.bottom-left p:first-of-type {
    line-height: 30px;
    margin-bottom: 70px;
}

.bottom-left p:last-of-type {
    margin-top: 70px;
    font-size: 12px;
}

/* FOOTER -------------------------------------------------*/

footer {
    background-color: #32495b;
    height: 700px;
}


